$height: 2.915rem;

.cont {
  display: flex;
  align-items: center;

  width: 100%;

  // Individual column
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: $height;
    height: $height;

    font-size: 0.92rem;
    font-weight: 400;
    list-style: none;
    border: 1px solid var(--border);
    border-radius: 0.38rem;

    &:last-child {
      border-right: 1px solid var(--border);
    }

    // Date number
    span {
      font-size: 0.82rem;
      margin: -0.18rem 0 0 0;
    }
  }

  // Code label
  .code {
    min-width: 5rem;
    height: $height;
  }

  .active {
    border-left: 3px solid #ff2e2a;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  // Item label
  .item {
    align-items: initial;
    padding: 0 0 0 1rem;

    min-width: 20rem;
    height: $height;
  }

  .parentItem {
    flex-direction: initial;
    align-items: center;
    justify-content: flex-start;

    button {
      height: 1.13rem;
      min-width: 1.13rem;
      margin: -0.038rem 0.44rem 0 0;

      background: var(--primary);
      border: none;
      border-radius: 2rem;
      font-size: 1.05rem;
      line-height: 1rem;
      font-weight: 600;
      color: var(--accent);
      transition: var(--transition);

      &:hover {
        opacity: 0.63;
      }
    }
  }
}

// Status colors
#activeOngoing {
  background: #ff2e2a;
  border-color: transparent;
}

#activeUnfinished {
  background: #ff8f18;
  border-color: transparent;
}

#activeFinished {
  background: #1bfc31;
  border-color: transparent;
}
