$height: 2.915rem;

.cont {
  display: flex;
  align-items: center;

  width: 100%;

  // Individual column
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: $height;
    height: $height;

    font-size: 0.92rem;
    font-weight: 600;
    list-style: none;
    background: rgb(255, 255, 255, 0.9);
    border-radius: 0.38rem;
    color: var(--accent);
    border-right: 1px solid #c4c4c4;

    // Date number
    span {
      font-size: 0.82rem;
      margin: -0.18rem 0 0 0;
    }
  }

  // Code label
  .code {
    min-width: 6.4rem;
    height: $height;
  }

  // Item label
  .item {
    align-items: initial;

    padding: 0 0 0 1rem;
    min-width: 20rem;
    height: $height;

    font-size: 1.034rem;
  }
}

#today {
  background: #ff3632;
  border: 2px solid #fff;
  color: #fff;
}
