$height: 2.915rem;

.cont {
  display: flex;

  width: 100%;

  // Individual column
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: $height;
    height: $height;

    font-size: 0.92rem;
    font-weight: 400;
    list-style: none;
    border: 1px solid var(--border);
    border-radius: 0.38rem;
    background: transparent;
    cursor: pointer;

    &:last-child {
      border-right: 1px solid var(--border);
    }

    &:hover {
      background: rgb(255, 255, 255, 0.2);
      border-color: transparent;
    }

    // Date number
    span {
      font-size: 0.82rem;
      margin: -0.18rem 0 0 0;
    }
  }

  // Code label
  .code {
    min-width: 6.4rem;
    min-height: $height;
    height: auto;
  }

  .active {
    border-left: 3px solid #ff2e2a;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  // Item label
  .item {
    align-items: initial;
    padding: 0 0 0 1rem;

    min-width: 20rem;
    min-height: $height;
    height: auto;
    overflow-x: auto;

    &::-webkit-scrollbar {
      height: 7px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #c6c6c6;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #8a8a8a;
    }
  }

  .parentItem {
    flex-direction: initial;
    align-items: center;
    justify-content: flex-start;

    button {
      height: 1.13rem;
      min-width: 1.13rem;
      margin: -0.038rem 0.44rem 0 0;

      background: var(--primary);
      border: none;
      border-radius: 2rem;
      font-size: 1.05rem;
      line-height: 1rem;
      font-weight: 600;
      color: var(--accent);
      transition: var(--transition);

      &:hover {
        opacity: 0.63;
      }
    }
  }

  #parentExpanded {
    align-items: initial;
  }
}

.expanded {
  .code,
  .item {
    justify-content: initial;

    padding-top: 0.72rem;
  }
}

.days {
  display: flex;
}

#activeOngoing,
#activeUnfinished,
#activeFinished {
  display: initial;
  align-items: flex-end;
  justify-content: flex-start;

  padding: 5px 5px 0 0;
  position: relative;

  transition: var(--transition);

  &:hover {
    opacity: 0.85;
  }

  &::before {
    display: none;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    opacity: initial;
  }
}

// Status colors
#activeOngoing {
  background: #ff2e2a;
  border-color: transparent;

  &::before {
    content: '🕗';
  }
}

#activeUnfinished {
  background: #ff8f18;
  border-color: transparent;

  &::before {
    content: '🛠️';
  }
}

#activeFinished {
  background: #1bfc31;
  border-color: transparent;

  &::before {
    content: '✔️';
  }
}

.removeSegment {
  opacity: 0;
  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 0;
  min-width: 0;
  border: none;
  background: rgb(255, 255, 255, 0.75);
  color: var(--accent);
  font-weight: 600;
  border-radius: 0.1rem;
  transition: var(--transition);
}

#first {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -2.8px;
    top: -3rem;
    width: 3px;
    height: $height;

    // background: green;
    background: linear-gradient(
      180deg,
      rgba(255, 46, 42, 1) 0%,
      rgba(72, 31, 255, 1) 69%
    );
  }
}

.lead {
  border-left: 2px solid #fff !important;

  &::before {
    display: initial !important;
  }
}

#codeSelected {
  width: fit-content;
  border-radius: 0.4rem;
  outline: 1px solid rgb(255, 46, 42, 0.6);

  .code {
    background: rgb(255, 46, 42, 0.32);
  }
}
