@import '../../../utils.scss';

.form {
  margin: 1.3rem 0 0 0;
  height: 0rem;

  pointer-events: none;
  opacity: 0;
  transition: var(--transition);

  select {
    margin: 0 0.5rem 0 0;
    height: 100%;
    width: 15%;
    padding: 0 0.8rem;

    background: rgb(255, 255, 255, 0.2);
    border-radius: 0.2rem;
    border: none;
    font-size: 0.95rem;
    font-weight: 500;
    color: var(--accent);
    transition: var(--transition);
    color: var(--primary);

    option {
      color: var(--accent);
    }
  }

  button {
    @include buttonPreset;

    padding: 0 1.2rem;
    height: 100%;
    font-size: 0.95rem;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.7;
    }
  }
}

// Form open state
.formOpen {
  height: 2.75rem;

  pointer-events: initial;
  opacity: 100%;
}
