.cont {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin: 0 0 0.3rem 0;

  .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 10.5rem;
    white-space: nowrap;

    h6 {
      padding: 0 1.56rem;

      font-size: 1.22rem;
      font-weight: 500;
    }
  }

  // Arrows
  button {
    margin: 0 0 0.3rem 0;
    padding: 0.6rem 0.8rem;

    background: transparent;
    border: none;
    color: var(--primary);
    font-weight: 500;
    font-size: 1.22rem;
    transition: var(--transition);

    // First & Last button spacing
    // &:first-child {
    //   padding-right: 1.1rem;
    // }

    // &:last-child {
    //   padding-left: 1.1rem;
    // }

    &:hover {
      opacity: 0.7;
    }
  }
}
