* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font: 'Satoshi', sans-serif;

  --primary: #fff;
  --accent: #481fff;

  --border: rgb(255, 255, 255, 0.475);

  --transition: ease 250ms;
}

body {
  padding: 2rem;

  font-family: var(--font);
  background: var(--accent);
  color: var(--primary);
}

button,
input,
textarea,
select {
  font-family: var(--font);
}

button {
  cursor: pointer;
}

input[type='date']::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  color-scheme: dark;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

input[type='date']::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}
